<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Database</servlet-name>
        <servlet-class>utilities.Database</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletAddProduct</servlet-name>
        <servlet-class>servlets.servletAddProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletAddCategory</servlet-name>
        <servlet-class>servlets.servletAddCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletAddQunatity</servlet-name>
        <servlet-class>servlets.servletAddQunatity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletDeleteQunatity</servlet-name>
        <servlet-class>servlets.servletDeleteQunatity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletDeleteCategory</servlet-name>
        <servlet-class>servlets.servletDeleteCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletGetCategoryById</servlet-name>
        <servlet-class>servlets.servletGetCategoryById</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletUpdateCategory</servlet-name>
        <servlet-class>servlets.servletUpdateCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletUpdateProduct</servlet-name>
        <servlet-class>servlets.servletUpdateProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletShowUserProfile</servlet-name>
        <servlet-class>servlets.servletShowUserProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProduct2Cart</servlet-name>
        <servlet-class>servlets.AddProduct2Cart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddVouchers</servlet-name>
        <servlet-class>servlets.AddVouchers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Category2NoProducts</servlet-name>
        <servlet-class>servlets.Category2NoProducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOut</servlet-name>
        <servlet-class>servlets.CheckOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnterVoucher</servlet-name>
        <servlet-class>servlets.EnterVoucher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Latest9Products</servlet-name>
        <servlet-class>servlets.Latest9Products</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>search</servlet-name>
        <servlet-class>servlets.search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewVouchers</servlet-name>
        <servlet-class>servlets.ViewVouchers</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Database</servlet-name>
        <url-pattern>/Database</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletAddProduct</servlet-name>
        <url-pattern>/servletAddProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletAddCategory</servlet-name>
        <url-pattern>/servletAddCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletAddQunatity</servlet-name>
        <url-pattern>/servletAddQunatity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletDeleteQunatity</servlet-name>
        <url-pattern>/servletDeleteQunatity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletDeleteCategory</servlet-name>
        <url-pattern>/servletDeleteCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletGetCategoryById</servlet-name>
        <url-pattern>/servletGetCategoryById</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletUpdateCategory</servlet-name>
        <url-pattern>/servletUpdateCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletUpdateProduct</servlet-name>
        <url-pattern>/servletUpdateProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletShowUserProfile</servlet-name>
        <url-pattern>/servletShowUserProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProduct2Cart</servlet-name>
        <url-pattern>/AddProduct2Cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddVouchers</servlet-name>
        <url-pattern>/AddVouchers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Category2NoProducts</servlet-name>
        <url-pattern>/Category2NoProducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOut</servlet-name>
        <url-pattern>/CheckOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnterVoucher</servlet-name>
        <url-pattern>/EnterVoucher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Latest9Products</servlet-name>
        <url-pattern>/Latest9Products</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>search</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewVouchers</servlet-name>
        <url-pattern>/ViewVouchers</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
